n8n-workflows/transcribe_v2.json
{
  "name": "transcribe_v2",
  "nodes": [
    {
      "parameters": {},
      "id": "11111111-1111-1111-1111-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract YouTube video ID from URL and pass through record_id\nconst input = $input.first().json;\nconst url = input.youtube_url || '';\n\n// Support all YouTube URL formats\nconst patterns = [\n  /[?&]v=([a-zA-Z0-9_-]{11})/,\n  /youtu\\.be\\/([a-zA-Z0-9_-]{11})/,\n  /embed\\/([a-zA-Z0-9_-]{11})/,\n  /shorts\\/([a-zA-Z0-9_-]{11})/\n];\n\nlet video_id = null;\nfor (const pattern of patterns) {\n  const match = url.match(pattern);\n  if (match) {\n    video_id = match[1];\n    break;\n  }\n}\n\nif (!video_id) {\n  throw new Error('Could not extract YouTube video ID from URL: ' + url);\n}\n\nreturn [{\n  json: {\n    record_id: input.record_id,\n    youtube_url: url,\n    video_id\n  }\n}];"
      },
      "id": "11111111-1111-1111-1111-000000000002",
      "name": "Extract Video ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "url": "=https://www.youtube.com/api/timedtext?v={{ $json.video_id }}&lang=en&kind=asr&fmt=json3",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000003",
      "name": "Fetch Timedtext ASR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse YouTube timedtext JSON3 format and extract plain text\n// Preserves record_id and video_id from previous node\nconst prev = $('Extract Video ID').first().json;\nconst response = $input.first().json;\n\nlet transcript = '';\nlet has_content = false;\n\ntry {\n  // Timedtext JSON3 format: { events: [{ segs: [{ utf8: '...' }] }] }\n  if (response.events && Array.isArray(response.events) && response.events.length > 0) {\n    const parts = [];\n    for (const event of response.events) {\n      if (event.segs && Array.isArray(event.segs)) {\n        for (const seg of event.segs) {\n          if (seg.utf8 && seg.utf8.trim()) {\n            parts.push(seg.utf8);\n          }\n        }\n      }\n    }\n    const raw = parts.join('');\n    // Clean up whitespace and newlines\n    transcript = raw.replace(/\\n/g, ' ').replace(/\\s+/g, ' ').trim();\n    has_content = transcript.length > 50;\n  }\n} catch (e) {\n  // Parse error — has_content stays false, falls through to fallback\n}\n\nreturn [{\n  json: {\n    record_id: prev.record_id,\n    youtube_url: prev.youtube_url,\n    video_id: prev.video_id,\n    transcript,\n    has_content,\n    method: 'timedtext_asr'\n  }\n}];"
      },
      "id": "11111111-1111-1111-1111-000000000004",
      "name": "Parse Timedtext ASR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "={{ $json.has_content === true ? 0 : 1 }}"
      },
      "id": "11111111-1111-1111-1111-000000000005",
      "name": "Has ASR Content?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [880, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "out1",
              "name": "record_id",
              "value": "={{ $json.record_id }}",
              "type": "string"
            },
            {
              "id": "out2",
              "name": "transcript",
              "value": "={{ $json.transcript }}",
              "type": "string"
            },
            {
              "id": "out3",
              "name": "method",
              "value": "={{ $json.method }}",
              "type": "string"
            },
            {
              "id": "out4",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "out5",
              "name": "error",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000006",
      "name": "Return Transcript (ASR)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1100, 160]
    },
    {
      "parameters": {
        "url": "=https://www.youtube.com/api/timedtext?v={{ $json.video_id }}&lang=en&fmt=json3",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000007",
      "name": "Fetch Timedtext Manual",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 440],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse manual captions (same format as ASR, without kind=asr)\nconst prev = $('Parse Timedtext ASR').first().json;\nconst response = $input.first().json;\n\nlet transcript = '';\nlet has_content = false;\n\ntry {\n  if (response.events && Array.isArray(response.events) && response.events.length > 0) {\n    const parts = [];\n    for (const event of response.events) {\n      if (event.segs && Array.isArray(event.segs)) {\n        for (const seg of event.segs) {\n          if (seg.utf8 && seg.utf8.trim()) {\n            parts.push(seg.utf8);\n          }\n        }\n      }\n    }\n    const raw = parts.join('');\n    transcript = raw.replace(/\\n/g, ' ').replace(/\\s+/g, ' ').trim();\n    has_content = transcript.length > 50;\n  }\n} catch (e) {\n  // Parse error\n}\n\nreturn [{\n  json: {\n    record_id: prev.record_id,\n    youtube_url: prev.youtube_url,\n    video_id: prev.video_id,\n    transcript,\n    has_content,\n    method: 'timedtext_manual'\n  }\n}];"
      },
      "id": "11111111-1111-1111-1111-000000000008",
      "name": "Parse Timedtext Manual",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 440]
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "={{ $json.has_content === true ? 0 : 1 }}"
      },
      "id": "11111111-1111-1111-1111-000000000009",
      "name": "Has Manual Content?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1540, 440]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "out1",
              "name": "record_id",
              "value": "={{ $json.record_id }}",
              "type": "string"
            },
            {
              "id": "out2",
              "name": "transcript",
              "value": "={{ $json.transcript }}",
              "type": "string"
            },
            {
              "id": "out3",
              "name": "method",
              "value": "={{ $json.method }}",
              "type": "string"
            },
            {
              "id": "out4",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "out5",
              "name": "error",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000010",
      "name": "Return Transcript (Manual)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "jsCode": "// AssemblyAI fallback transcription — Phase 2\n// Runs when both YouTube timedtext paths (ASR + manual) return no content.\n// AssemblyAI accepts YouTube URLs natively — no audio download or Worker needed.\n//\n// SETUP REQUIRED before this path activates:\n//   1. Sign up at https://www.assemblyai.com and get your API key\n//   2. In n8n: Settings → Variables → Add: ASSEMBLYAI_API_KEY = <your key>\n//\n// Cost: ~$0.37/hour of audio (pay-per-use, no monthly minimum)\n// Free tier available for testing.\n\nconst prev = $('Parse Timedtext Manual').first().json;\nconst youtubeUrl = prev.youtube_url;\nconst recordId = prev.record_id;\n\nconst API_KEY = $vars.ASSEMBLYAI_API_KEY;\nif (!API_KEY) {\n  return [{ json: {\n    record_id: recordId,\n    transcript: '',\n    method: 'none',\n    success: false,\n    error: 'AssemblyAI API key not configured. Add ASSEMBLYAI_API_KEY to n8n Variables (Settings → Variables).',\n  }}];\n}\n\nconst BASE = 'https://api.assemblyai.com/v2';\nconst headers = { 'Authorization': API_KEY, 'Content-Type': 'application/json' };\n\n// 1. Submit transcription job — AssemblyAI accepts YouTube URLs directly\nlet submission;\ntry {\n  submission = await $helpers.httpRequest({\n    method: 'POST',\n    url: `${BASE}/transcript`,\n    headers,\n    body: JSON.stringify({ audio_url: youtubeUrl }),\n  });\n} catch (err) {\n  return [{ json: {\n    record_id: recordId,\n    transcript: '',\n    method: 'none',\n    success: false,\n    error: 'AssemblyAI submission error: ' + err.message,\n  }}];\n}\n\nif (!submission.id) {\n  return [{ json: {\n    record_id: recordId,\n    transcript: '',\n    method: 'none',\n    success: false,\n    error: 'AssemblyAI returned no job ID. Response: ' + JSON.stringify(submission),\n  }}];\n}\n\nconst jobId = submission.id;\n\n// 2. Poll until complete or error (max 5 min = 30 × 10s)\nfor (let attempt = 0; attempt < 30; attempt++) {\n  await new Promise(r => setTimeout(r, 10000));\n\n  let result;\n  try {\n    result = await $helpers.httpRequest({\n      method: 'GET',\n      url: `${BASE}/transcript/${jobId}`,\n      headers,\n    });\n  } catch (err) {\n    // Transient poll error — continue\n    continue;\n  }\n\n  if (result.status === 'completed') {\n    return [{ json: {\n      record_id: recordId,\n      transcript: result.text || '',\n      method: 'assemblyai',\n      success: true,\n      error: '',\n    }}];\n  }\n\n  if (result.status === 'error') {\n    return [{ json: {\n      record_id: recordId,\n      transcript: '',\n      method: 'none',\n      success: false,\n      error: 'AssemblyAI transcription failed: ' + (result.error || 'unknown error'),\n    }}];\n  }\n  // status is 'queued' or 'processing' — keep polling\n}\n\n// Timeout after 5 minutes\nreturn [{ json: {\n  record_id: recordId,\n  transcript: '',\n  method: 'none',\n  success: false,\n  error: 'AssemblyAI timed out after 5 minutes. Video may be too long or API queue is busy.',\n}}];"
      },
      "id": "11111111-1111-1111-1111-000000000011",
      "name": "AssemblyAI Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1760, 580]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [{"node": "Extract Video ID", "type": "main", "index": 0}]
      ]
    },
    "Extract Video ID": {
      "main": [
        [{"node": "Fetch Timedtext ASR", "type": "main", "index": 0}]
      ]
    },
    "Fetch Timedtext ASR": {
      "main": [
        [{"node": "Parse Timedtext ASR", "type": "main", "index": 0}]
      ]
    },
    "Parse Timedtext ASR": {
      "main": [
        [{"node": "Has ASR Content?", "type": "main", "index": 0}]
      ]
    },
    "Has ASR Content?": {
      "main": [
        [{"node": "Return Transcript (ASR)", "type": "main", "index": 0}],
        [{"node": "Fetch Timedtext Manual", "type": "main", "index": 0}]
      ]
    },
    "Fetch Timedtext Manual": {
      "main": [
        [{"node": "Parse Timedtext Manual", "type": "main", "index": 0}]
      ]
    },
    "Parse Timedtext Manual": {
      "main": [
        [{"node": "Has Manual Content?", "type": "main", "index": 0}]
      ]
    },
    "Has Manual Content?": {
      "main": [
        [{"node": "Return Transcript (Manual)", "type": "main", "index": 0}],
        [{"node": "AssemblyAI Fallback", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
