n8n-workflows/transcribe_v2.json
{
  "name": "transcribe_v2",
  "nodes": [
    {
      "parameters": {},
      "id": "11111111-1111-1111-1111-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract YouTube video ID from URL and pass through record_id\nconst input = $input.first().json;\nconst url = input.youtube_url || '';\n\n// Support all YouTube URL formats\nconst patterns = [\n  /[?&]v=([a-zA-Z0-9_-]{11})/,\n  /youtu\\.be\\/([a-zA-Z0-9_-]{11})/,\n  /embed\\/([a-zA-Z0-9_-]{11})/,\n  /shorts\\/([a-zA-Z0-9_-]{11})/\n];\n\nlet video_id = null;\nfor (const pattern of patterns) {\n  const match = url.match(pattern);\n  if (match) {\n    video_id = match[1];\n    break;\n  }\n}\n\nif (!video_id) {\n  throw new Error('Could not extract YouTube video ID from URL: ' + url);\n}\n\nreturn [{\n  json: {\n    record_id: input.record_id,\n    youtube_url: url,\n    video_id\n  }\n}];"
      },
      "id": "11111111-1111-1111-1111-000000000002",
      "name": "Extract Video ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "url": "=https://www.youtube.com/api/timedtext?v={{ $json.video_id }}&lang=en&kind=asr&fmt=json3",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000003",
      "name": "Fetch Timedtext ASR",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse YouTube timedtext JSON3 format and extract plain text\n// Preserves record_id and video_id from previous node\nconst prev = $('Extract Video ID').first().json;\nconst response = $input.first().json;\n\nlet transcript = '';\nlet has_content = false;\n\ntry {\n  // Timedtext JSON3 format: { events: [{ segs: [{ utf8: '...' }] }] }\n  if (response.events && Array.isArray(response.events) && response.events.length > 0) {\n    const parts = [];\n    for (const event of response.events) {\n      if (event.segs && Array.isArray(event.segs)) {\n        for (const seg of event.segs) {\n          if (seg.utf8 && seg.utf8.trim()) {\n            parts.push(seg.utf8);\n          }\n        }\n      }\n    }\n    const raw = parts.join('');\n    // Clean up whitespace and newlines\n    transcript = raw.replace(/\\n/g, ' ').replace(/\\s+/g, ' ').trim();\n    has_content = transcript.length > 50;\n  }\n} catch (e) {\n  // Parse error — has_content stays false, falls through to fallback\n}\n\nreturn [{\n  json: {\n    record_id: prev.record_id,\n    youtube_url: prev.youtube_url,\n    video_id: prev.video_id,\n    transcript,\n    has_content,\n    method: 'timedtext_asr'\n  }\n}];"
      },
      "id": "11111111-1111-1111-1111-000000000004",
      "name": "Parse Timedtext ASR",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "={{ $json.has_content === true ? 0 : 1 }}"
      },
      "id": "11111111-1111-1111-1111-000000000005",
      "name": "Has ASR Content?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [880, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "out1",
              "name": "record_id",
              "value": "={{ $json.record_id }}",
              "type": "string"
            },
            {
              "id": "out2",
              "name": "transcript",
              "value": "={{ $json.transcript }}",
              "type": "string"
            },
            {
              "id": "out3",
              "name": "method",
              "value": "={{ $json.method }}",
              "type": "string"
            },
            {
              "id": "out4",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "out5",
              "name": "error",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000006",
      "name": "Return Transcript (ASR)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1100, 160]
    },
    {
      "parameters": {
        "url": "=https://www.youtube.com/api/timedtext?v={{ $json.video_id }}&lang=en&fmt=json3",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000007",
      "name": "Fetch Timedtext Manual",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 440],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Parse manual captions (same format as ASR, without kind=asr)\nconst prev = $('Parse Timedtext ASR').first().json;\nconst response = $input.first().json;\n\nlet transcript = '';\nlet has_content = false;\n\ntry {\n  if (response.events && Array.isArray(response.events) && response.events.length > 0) {\n    const parts = [];\n    for (const event of response.events) {\n      if (event.segs && Array.isArray(event.segs)) {\n        for (const seg of event.segs) {\n          if (seg.utf8 && seg.utf8.trim()) {\n            parts.push(seg.utf8);\n          }\n        }\n      }\n    }\n    const raw = parts.join('');\n    transcript = raw.replace(/\\n/g, ' ').replace(/\\s+/g, ' ').trim();\n    has_content = transcript.length > 50;\n  }\n} catch (e) {\n  // Parse error\n}\n\nreturn [{\n  json: {\n    record_id: prev.record_id,\n    youtube_url: prev.youtube_url,\n    video_id: prev.video_id,\n    transcript,\n    has_content,\n    method: 'timedtext_manual'\n  }\n}];"
      },
      "id": "11111111-1111-1111-1111-000000000008",
      "name": "Parse Timedtext Manual",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 440]
    },
    {
      "parameters": {
        "mode": "expression",
        "output": "={{ $json.has_content === true ? 0 : 1 }}"
      },
      "id": "11111111-1111-1111-1111-000000000009",
      "name": "Has Manual Content?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1540, 440]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "out1",
              "name": "record_id",
              "value": "={{ $json.record_id }}",
              "type": "string"
            },
            {
              "id": "out2",
              "name": "transcript",
              "value": "={{ $json.transcript }}",
              "type": "string"
            },
            {
              "id": "out3",
              "name": "method",
              "value": "={{ $json.method }}",
              "type": "string"
            },
            {
              "id": "out4",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "out5",
              "name": "error",
              "value": "",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000010",
      "name": "Return Transcript (Manual)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/transcript",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "bodyParameters": {
          "parameters": [
            {
              "name": "audio_url",
              "value": "={{ $('Parse Timedtext Manual').first().json.youtube_url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000011",
      "name": "Submit to AssemblyAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 580],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "AssemblyAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract AssemblyAI job ID from submission response\nconst prev = $('Parse Timedtext Manual').first().json;\nconst response = $input.first().json;\n\nif (!response.id) {\n  return [{ json: {\n    record_id: prev.record_id,\n    job_id: null,\n    submit_failed: true,\n    submit_error: 'AssemblyAI submission failed: ' + (response.error || response.message || JSON.stringify(response))\n  }}];\n}\n\nreturn [{ json: {\n  record_id: prev.record_id,\n  job_id: response.id,\n  submit_failed: false,\n  submit_error: ''\n}}];"
      },
      "id": "11111111-1111-1111-1111-000000000012",
      "name": "Extract Job ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 580]
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 60,
        "unit": "seconds"
      },
      "id": "11111111-1111-1111-1111-000000000013",
      "name": "Wait 60s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2200, 580],
      "webhookId": "aabbccdd-1234-5678-abcd-transcribev2w"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.assemblyai.com/v2/transcript/{{ $json.job_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "11111111-1111-1111-1111-000000000014",
      "name": "Poll Transcript Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2420, 580],
      "continueOnFail": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "",
          "name": "AssemblyAI"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format AssemblyAI result into standard transcribe_v2 output format\nconst jobInfo = $('Extract Job ID').first().json;\nconst pollResponse = $input.first().json;\n\n// Handle submission failure (job_id was null)\nif (jobInfo.submit_failed) {\n  return [{ json: {\n    record_id: jobInfo.record_id,\n    transcript: '',\n    method: 'none',\n    success: false,\n    error: jobInfo.submit_error\n  }}];\n}\n\n// Handle completed transcription\nif (pollResponse.status === 'completed') {\n  return [{ json: {\n    record_id: jobInfo.record_id,\n    transcript: pollResponse.text || '',\n    method: 'assemblyai',\n    success: true,\n    error: ''\n  }}];\n}\n\n// Handle error status\nif (pollResponse.status === 'error') {\n  return [{ json: {\n    record_id: jobInfo.record_id,\n    transcript: '',\n    method: 'none',\n    success: false,\n    error: 'AssemblyAI transcription failed: ' + (pollResponse.error || 'unknown error')\n  }}];\n}\n\n// Not ready after 60s wait (status: queued or processing)\nreturn [{ json: {\n  record_id: jobInfo.record_id,\n  transcript: '',\n  method: 'none',\n  success: false,\n  error: 'AssemblyAI not ready after 60s. Status: ' + (pollResponse.status || 'unknown') + '. Job ID: ' + jobInfo.job_id + '. Retry or increase wait time.'\n}}];"
      },
      "id": "11111111-1111-1111-1111-000000000015",
      "name": "Format AssemblyAI Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2640, 580]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [{"node": "Extract Video ID", "type": "main", "index": 0}]
      ]
    },
    "Extract Video ID": {
      "main": [
        [{"node": "Fetch Timedtext ASR", "type": "main", "index": 0}]
      ]
    },
    "Fetch Timedtext ASR": {
      "main": [
        [{"node": "Parse Timedtext ASR", "type": "main", "index": 0}]
      ]
    },
    "Parse Timedtext ASR": {
      "main": [
        [{"node": "Has ASR Content?", "type": "main", "index": 0}]
      ]
    },
    "Has ASR Content?": {
      "main": [
        [{"node": "Return Transcript (ASR)", "type": "main", "index": 0}],
        [{"node": "Fetch Timedtext Manual", "type": "main", "index": 0}]
      ]
    },
    "Fetch Timedtext Manual": {
      "main": [
        [{"node": "Parse Timedtext Manual", "type": "main", "index": 0}]
      ]
    },
    "Parse Timedtext Manual": {
      "main": [
        [{"node": "Has Manual Content?", "type": "main", "index": 0}]
      ]
    },
    "Has Manual Content?": {
      "main": [
        [{"node": "Return Transcript (Manual)", "type": "main", "index": 0}],
        [{"node": "Submit to AssemblyAI", "type": "main", "index": 0}]
      ]
    },
    "Submit to AssemblyAI": {
      "main": [
        [{"node": "Extract Job ID", "type": "main", "index": 0}]
      ]
    },
    "Extract Job ID": {
      "main": [
        [{"node": "Wait 60s", "type": "main", "index": 0}]
      ]
    },
    "Wait 60s": {
      "main": [
        [{"node": "Poll Transcript Status", "type": "main", "index": 0}]
      ]
    },
    "Poll Transcript Status": {
      "main": [
        [{"node": "Format AssemblyAI Result", "type": "main", "index": 0}]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
